---
import Layout from "@layouts/base.layout.astro"
import Hero from "@components/Hero.astro"
import { Icon } from "astro-icon"
// Data Fetching: List all Markdown posts in the repo.

// let allPosts = await Astro.glob('./posts/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out forwards;
  }
</style>
<Layout>
  <Hero subtitle="Studio Arsenov">WELCOME TO</Hero>

  <div class="top-section">
    <!-- Service start -->
    <!-- This example requires Tailwind CSS v3.0+ -->
    <div>
      <div class="mx-auto py-24 sm:px-6 sm:py-32 lg:px-8">
        <div
          class="relative overflow-hidden bg-[url('/public/assets/photos/Z6D_5739.jpg')] bg-center bg-cover px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
        >
          <div
            class="absolute inset-0 bg-gradient-to-l from-black/70 to-gray-900/5"
          >
          </div>
          <div
            class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
          >
            <h2
              class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
            >
              Boost your productivity.<br />Start using our app today.
            </h2>
            <p class="mt-6 text-lg leading-8 text-gray-300">
              Ac euismod vel sit maecenas id pellentesque eu sed consectetur.
              Malesuada adipiscing sagittis vel nulla.
            </p>
          </div>
        </div>
      </div>

      <!-- End Service -->
    
  </div>
</Layout>
