---
import Layout from "@layouts/base.layout.astro"
import Hero from "@components/Hero.astro"
import { Icon } from "astro-icon"
// Data Fetching: List all Markdown posts in the repo.

// let allPosts = await Astro.glob('./posts/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out forwards;
  }
</style>
<Layout>
  <Hero>WELCOME TO</Hero>

  <div class="top-section">
    <!-- Service start -->
    <div
      id="services"
      class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 animate-fadeIn"
    >
      <div class="px-4 mx-auto xl:max-w-6xl">
        <!-- section header -->
        <header class="mx-auto mb-12 text-center">
          <h2
            class="mb-2 text-2xl font-bold leading-normal text-[#0a0a0a] md:text-5xl"
          >
            <span class="font-light">What</span> We <span class="font-light"
              >Offer</span
            >
          </h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary border-primary" />
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-row flex-wrap -mx-4 js-show-on-scroll">
          <div class="flex-shrink max-w-full px-4 w-ful md:w-1/2 lg:w-1/3">
            <div class="px-4 mb-12 wow fadeInUp" data-wow-duration="1s">
              <div class="flex flex-row flex-wrap -mx-4">
                <!-- icon -->
                <div class="flex-shrink w-1/4 max-w-full px-4 text-center">
                  <div class="inline-block mb-4 text-primary">
                    <Icon name="carbon:development" class="w-12 h-12" />
                  </div>
                </div>
                <!-- text service -->
                <div class="flex-shrink w-9/12 max-w-full px-4">
                  <h3
                    class="mb-2 text-xl font-semibold leading-normal text-primary"
                  >
                    Stand Out
                  </h3>
                  <p class="text-gray-500">
                    Stand Out in Your Industry with a Professional Website Built
                    by Our Experts
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-ful md:w-1/2 lg:w-1/3">
            <div
              class="px-4 mb-12 wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay=".1s"
            >
              <div class="flex flex-row flex-wrap -mx-4">
                <!-- icon -->
                <div class="flex-shrink w-1/4 max-w-full px-4 text-center">
                  <div class="inline-block mb-4 text-primary">
                    <Icon
                      name="simple-icons:googlemarketingplatform"
                      class="w-12 h-12"
                    />
                  </div>
                </div>
                <!-- text service -->
                <div class="flex-shrink w-9/12 max-w-full px-4">
                  <h3
                    class="mb-2 text-xl font-semibold leading-normal text-primary"
                  >
                    Website Development Services
                  </h3>
                  <p class="text-gray-500">
                    Elevate Your Online Presence with Our Custom Website
                    Development Services
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-ful md:w-1/2 lg:w-1/3">
            <div
              class="px-4 mb-12 wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay=".3s"
            >
              <div class="flex flex-row flex-wrap -mx-4">
                <!-- icon -->
                <div class="flex-shrink w-1/4 max-w-full px-4 text-center">
                  <div class="inline-block mb-4 text-primary">
                    <Icon
                      name="icon-park-outline:sales-report"
                      class="w-12 h-12"
                    />
                  </div>
                </div>
                <!-- text service -->
                <div class="flex-shrink w-9/12 max-w-full px-4">
                  <h3
                    class="mb-2 text-xl font-semibold leading-normal text-primary"
                  >
                    User-Friendly Website
                  </h3>
                  <p class="text-gray-500">
                    Unlock the Potential of Your Business with a Responsive and
                    User-Friendly Website
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-ful md:w-1/2 lg:w-1/3">
            <div class="px-4 mb-12 wow fadeInUp" data-wow-duration="1s">
              <div class="flex flex-row flex-wrap -mx-4">
                <!-- icon -->
                <div class="flex-shrink w-1/4 max-w-full px-4 text-center">
                  <div class="inline-block mb-4 text-primary">
                    <Icon name="carbon:chart-median" class="w-12 h-12" />
                  </div>
                </div>
                <!-- text service -->
                <div class="flex-shrink w-9/12 max-w-full px-4">
                  <h3
                    class="mb-2 text-xl font-semibold leading-normal text-primary"
                  >
                    Great First Impression
                  </h3>
                  <p class="text-gray-500">
                    Make a Great First Impression with a Stunning Website
                    Designed and Developed by Us
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-ful md:w-1/2 lg:w-1/3">
            <div
              class="px-4 mb-12 wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay=".1s"
            >
              <div class="flex flex-row flex-wrap -mx-4">
                <!-- icon -->
                <div class="flex-shrink w-1/4 max-w-full px-4 text-center">
                  <div class="inline-block mb-4 text-primary">
                    <Icon name="tabler:social" class="w-12 h-12" />
                  </div>
                </div>
                <!-- text service -->
                <div class="flex-shrink w-9/12 max-w-full px-4">
                  <h3
                    class="mb-2 text-xl font-semibold leading-normal text-primary"
                  >
                    We Manage Your Reservations
                  </h3>
                  <p class="text-gray-500">
                    With just a few clicks, you can search, compare and book
                    your desired options, without the need to stand in long
                    queues or make endless phone calls.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-shrink max-w-full px-4 w-ful md:w-1/2 lg:w-1/3">
            <div
              class="px-4 mb-12 wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay=".3s"
            >
              <div class="flex flex-row flex-wrap -mx-4">
                <!-- icon -->
                <div class="flex-shrink w-1/4 max-w-full px-4 text-center">
                  <div class="inline-block mb-4 text-primary">
                    <!-- <i class="fas fa-chart-pie"></i> -->
                    <Icon
                      name="fluent:people-community-20-regular"
                      class="w-12 h-12"
                    />
                  </div>
                </div>
                <!-- text service -->
                <div class="flex-shrink w-9/12 max-w-full px-4">
                  <h3
                    class="mb-2 text-xl font-semibold leading-normal text-primary"
                  >
                    Attract More Customers
                  </h3>
                  <p class="text-gray-500">
                    Get a Website that Reflects Your Brand and Attracts More
                    Customers
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Service -->
    <!--CTA-->
    <section class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="flex flex-wrap justify-between mb-8 md:mb-16">
        <div
          class="w-full lg:w-1/3 flex flex-col justify-center animate-fadeIn js-show-on-scroll lg:pt-48 lg:pb-24 mb-6 sm:mb-12 lg:mb-0"
        >
          <h1
            class="text-primary text-4xl sm:text-5xl md:text-6xl font-bold mb-4 md:mb-8"
          >
            Simplicity and<br />sophisticated design is our<br />speciality
          </h1>

          <p class="max-w-md text-gray-500 xl:text-lg leading-relaxed">
            This is a section of some simple filler text, also known as
            placeholder text. It shares characteristics of real text.
          </p>
        </div>

        <div class="w-full lg:w-2/3 flex mb-12 md:mb-16">
          <div
            class="bg-gray-100 rounded-lg shadow-lg overflow-hidden relative z-10 top-12 md:top-16 left-12 md:left-16 -ml-12 lg:ml-0"
          >
            <img
              src="/website-1.jpg?auto=format&q=75&fit=crop&w=550&h=550"
              loading="lazy"
              alt="Photo by Kaung Htet"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <div class="bg-gray-100 rounded-lg shadow-lg overflow-hidden">
            <img
              src="/website-2.png?auto=format&q=75&fit=crop&w=550&h=550"
              loading="lazy"
              alt="Photo by Manny Moreno"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- END CTA -->
  </div><!-- END WRAP -->
  <!-- hero start -->
  <div
    id="about-us"
    class="relative pt-20 pb-24 md:pt-24 bg-[#0a0a0a] text-gray-100 z-0"
  >
    <!-- particle moving animation -->

    <div class="xl:max-w-6xl mx-auto px-4">
      <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
        <!-- content -->
        <div
          class="flex-shrink max-w-full px-4 w-full lg:w-1/2 xl:mr-auto z-10"
        >
          <div class="text-center lg:ltr:text-left lg:rtl:text-right">
            <h1
              class="text-4xl leading-normal font-bold text-white capitalize mb-4"
            >
              We <span
                class="text-gray-100"
                x-data="whoWeAre"
                x-init="init()"
                x-text="text"></span>
              <br /> website for your business.
            </h1>
            <p
              class="text-gray-100 leading-relaxed font-light text-xl mx-auto pb-2 mb-12"
            >
              We use cutting-edge technologies such as <a href="https://astro.build/" class="underline">Astro</a> which allows your website to run and load its content at immense speed.
            </p>
            <a href="/about-us" class="text-primary bg-white px-4 py-3 cursor-pointer rounded leading-relaxed font-medium text-xl mx-auto">Read more</a>
          </div>
        </div><!-- end content -->

        <!-- intro images -->
        <div class="flex-shrink max-w-full px-10 w-full lg:w-1/2 xl:w-5/12">
          <div class="relative md:-mt-2 mb-16" style="padding-bottom: 160%">
            <!-- Android potrait -->
            <figure class="absolute left-0 top-0 w-full">
              <svg
                version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 480.000000 906.000000"
              >
                <!-- Clip path image -->
                <defs>
                  <clipPath id="svgf">
                    <rect x="50" y="16.5" width="480" height="1066"></rect>
                  </clipPath>
                </defs>
                <!-- Phone screen -->
                <image
                  clip-path="url(/website-3.jpg)"
                  xlink:href="/website-3.jpg"
                  height="94%"
                  width="100%"
                  style="transform:translateY(15px);"
                />
                <!-- Phone cover -->
                <image
                  xlink:href="/website-3.jpg"
                  height="100%"
                  width="100%"
                />
              </svg>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end hero -->
  <!--contact form -->
  <!-- Container for demo purpose -->
  <div id="contact" class="mt-24 px-6 mx-auto">
    <!-- Section: Design Block -->
    <section class="text-gray-800">
      <div
        class="relative overflow-hidden bg-no-repeat bg-cover"
        style="background-position: 50%; background-image: url('/contact-us.jpg'); height: 300px; border-radius: 10px;"
      >
      </div>
      <div class="text-gray-800 px-4 md:px-12">
        <div
          class="block rounded-lg shadow-lg py-10 md:py-12 px-2 md:px-6 bg-primary bg-opacity-95"
          style="margin-top: -100px; backdrop-filter: blur(30px);"
        >
          <div class="flex flex-wrap">
            <div
              class="grow-0 shrink-0 basis-auto w-full xl:w-5/12 px-3 lg:px-6 mb-12 xl:mb-0"
            >
              <form method="POST" action="https://formsubmit.co/52cf66c2aebf2d069007717e34a0bead">
                <div class="form-group mb-6">
                  <input type="text" name="_honey" style="display: none;"/>
                  <input type="text" name="_captcha" value="false" style="display: none;"/>
                  <input
                    type="text"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-200 bg-primary bg-clip-padding bg-opacity-10 border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-200 focus:bg-white focus:bg-opacity-5 focus:border-white active:border-white focus:outline-none active:outline-none"
                    id="name"
                    name="name"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="form-group mb-6">
                  <input
                    type="email"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-200 bg-primary bg-clip-padding bg-opacity-10 border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-200 focus:bg-white focus:bg-opacity-5 focus:border-white active:border-white focus:outline-none active:outline-none"
                    id="email"
                    name="email"
                    placeholder="Email address"
                    required
                  />
                </div>
                <div class="form-group mb-6">
                  <textarea
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-200 bg-primary bg-clip-padding bg-opacity-10 border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-200 focus:bg-white focus:bg-opacity-5 focus:border-white active:border-white focus:outline-none active:outline-none"
                    id="message"
                    rows="3"
                    placeholder="Message"
                    name="message"
                    ></textarea>
                </div>
               
                <button
                  type="submit"
                  class="w-full px-6 py-2.5 bg-gray-100 text-primary font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out"
                  >Send</button
                >
              </form>
            </div>
            <div class="grow-0 shrink-0 basis-auto w-full xl:w-7/12">
              <div class="flex flex-wrap px-6 xl:mx-auto mt-12 max-w-xl">
                <h3 class="text-3xl leading-normal font-bold text-gray-200 capitalize mb-4">Send us a message and we will get back to you in no time!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
  <!--end contact form -->
</Layout>
