---
	const defaultImage = '/0a0a0a-bg.png';
	const { img = defaultImage, subtitle = null } = Astro.props;
---

<div class="w-full h-[760px] relative bg-fixed bg-cover bg-center flex justify-center items-center"
	style={`background-image:url(${img});`}>
	<div class="absolute w-full h-full"></div>
	<div class="flex flex-col p-4">
		<h1 class="flex-none text-3xl text-center xs:text-5xl font-bold text-white drop-shadow-md">
			<slot></slot>
		</h1>
		{subtitle && (
		<h2 class="flex-none text-center mt-16 animate-pulse text-4xl text-white font-bold drop-shadow-md">{subtitle}</h2>
		)}
	</div>

</div>
